@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* html,
body {
  height: 100lvh;
} */

body {
  min-height: 100lvh;
  background-image: url(./img/blackboard.jpg);
  /* background-color: black; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pangolin", sans-serif;
}
p {
  color: #ffffff;
  font-size: min(4rem, 4vw);
}

img {
  max-width: 100%;
}

.word-line {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
}

.word-line__letter {
  width: min(4rem, 4vw);
  aspect-ratio: 1/1.2;
  /* height: min(4rem, 4vw); */
  margin: 0;
  /* padding-inline: 1.5rem; */
  text-align: center;
  border-bottom: 3px solid white;
}

.letters {
  width: 70%;
  /* margin-inline: 15vw */
  margin-top: -2rem;
}

.letters__sections {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.letters__letter {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 2.5rem);
}

.letters__letter {
  cursor: pointer;
}

.modal {
  border-radius: 1rem;
  background-color: #646464;
  width: fit-content;
  max-width: 500px;
  color: black;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__title {
  letter-spacing: 0.1em;
  font-size: 2rem;
}
.modal__content p {
  color: #000;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal__flag-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: stretch;
}
.modal__image {
  /* max-width: 40%; */
  height: 80px;
}
.modal__image-selected {
  outline: 0.5rem solid;
}

.modal__button {
  color: #000;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}

main {
  height: 100%;
  margin: auto auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;
}

/* * All hangman rules
     Every body part gets it own rule to get the animation to work. 
     If we animate the parent only the first body part work.   
     todo: Try to find a way to only animate all children
*/

.hangman {
  /* width: min(400px, 90vw); */
  height: max(30lvh, 10rem);
  opacity: 0.8;
}

.hangman__body-parts {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.5;
  stroke-opacity: 1;
}

.hangman__body-parts > * {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: drawLine 1s ease-in-out forwards;
}

.hangman__cross-brace {
  animation: drawLine 12s linear forwards;
}

.hangman__head {
  transform: rotate(-90deg);
  transform-origin: 132px 73px;
}

.hangman__face {
  stroke-width: 1;
  animation: drawLine 5s forwards;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* Help class */
.hidden {
  display: none;
}
