/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/* GLOBAL SETUP */

body {
  min-height: 100lvh;
  background-image: url(./img/blackboard_optimized.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pangolin", sans-serif;
}
p {
  color: #ffffff;
  font-size: clamp(1rem, 8vw, 2.5rem);
  margin-block: 0.3em;
}

img {
  max-width: 100%;
}

/* MAIN WRAPPER */

.wrapper {
  height: 100%;
  margin: auto auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;
}

/* HANGMAN */

.hangman {
  /* width: min(400px, 90vw); */
  height: max(30lvh, 10rem);
  opacity: 0.8;
}

.hangman__body-parts {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2.5;
  stroke-opacity: 1;
}

.hangman__body-parts > * {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  animation: drawLine 1s ease-in-out forwards;
}

.hangman__cross-brace {
  animation: drawLine 12s linear forwards;
}

.hangman__head {
  transform: rotate(-90deg);
  transform-origin: 132px 73px;
}

.hangman__face {
  stroke-width: 1;
  animation: drawLine 5s forwards;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/* TEXT LINE */
.word-line {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: min(1.5rem, 2vw);
}

.word-line__letter {
  height: 1.2em;
  aspect-ratio: 1/1.2;
  margin: 0;
  text-align: center;
  border-bottom: 3px solid white;
}

/* LETTER KEYBOARD */

.letters {
  /* Den här borde kanske heta keyboard istället för tydlighet??? /M */
  width: 100%;
  max-width: 600px;
  margin-top: -2rem;
}

.letters__sections {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.letters__letter {
  cursor: pointer;
}

/* START AND WINNER MODAL */

.modal {
  width: fit-content;
  max-width: 500px;
  border-radius: 1rem;
  background-color: #fefefe;
  color: #333;
  border: 0.2rem solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__title {
  letter-spacing: 0.1em;
  font-size: 2rem;
}
.modal__content p {
  color: #333;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal__flag-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: stretch;
}
.modal__image {
  height: min(24vw, 80px);
  opacity: 0.3;
}
.modal__image-selected {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal__button {
  color: #000;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}

/* LOSER MODAL */

.loser__modal {
  position: fixed;
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 1.6rem;
  border: 0.2rem solid #888;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.loser__title {
  color: #ff0000;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.looser__help-text {
  color: #333;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.correct__text {
  color: #333;
  font-size: 2rem;
  text-transform: uppercase;
}

.loser__button {
  background-color: #ff0000;
  color: #fff;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.loser__button:hover {
  background-color: rgb(8, 121, 64);
}

/* OTHER */

/* Help class */
.hidden {
  display: none;
}
